/** Stylesheet for Eindopdracht - Hackaton_HTML_CSS **/

/** Global Style **/

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label,
.my-form input,
.form-group,
.title {
  font-family: "Raleway", sans-serif;
}

.title {
  font-weight: 800;
  font-size: 24px;
  line-height: 2px;
  color: #4f8bc9;
  padding-top: 10px;
}

.subtitel {
  font-family: "Caveat", cursive;
  font-size: 18px;
  line-height: 8px;
  color: grey;
}

.header {
  background-color: white;
  padding: 0px 10px 0px 10px;
}

.nav {
  background-color: rgba(32, 112, 178, 1);
  font-weight: 800;
}

.main {
  background-color: #ceffe7;
  padding: 0px 10px 0px 10px;
}

.widget {
  background-color: #69b7ff;
  padding: 0px 10px 0px 10px;
}

.widget h3 {
  color: white;
}

.footer {
  font-size: 8pt;
  padding: 0px 10px 0px 10px;
}

.widget .caption {
  font-size: 8pt;
  color: white;
}

/** Navigation Styling **/

/** Grid Style Mobile **/

.container {
  min-height: 800px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 150px max-content max-content max-content max-content;
  grid-template-areas:
    "h h h h h h h"
    "n n n n n n n"
    "m m m m m m m"
    "w w w w w w w"
    "f f f f f f f";
}
.header {
  grid-area: h;
}

.main {
  grid-area: m;
}

.nav {
  grid-area: n;
}

.widget {
  grid-area: w;
}

.footer {
  grid-area: f;
  background-color: #ffcc5c;
  font-size: 16px;
}

.main p,
.widget p {
  font-size: 36px;
}

.title {
  font-size: 40px;
}

.subtitel {
  font-size: 32px;
  padding-left: 100px;
}

.main h2,
.widget h2 {
  font-size: 48px;
}

.main h3,
.widget h3 {
  font-size: 42px;
}

.logo {
  max-width: 10%;
  float: left;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 1%;
}

.movie {
  width: auto;
  height: auto;
  margin: 0%;
  padding: 0%;
}

/** Styling Desktop **/

@media only screen and (min-width: 990px) {
  .container {
    height: 600px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto repeat(11, 1fr);
    grid-template-rows: 100px auto max-content max-content;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n n n n n n n n n n"
      "m m m m m m m m w w w w"
      "f f f f f f f f f f f f";
  }

  /** Navigation Styling Destkop **/

  .nav-container {
    display: flex;
    justify-content: left;
  }

  .nav-container > li {
    flex: 1 0 auto;
    background-color: whitesmoke;
  }

  /** Global Styling Destkop **/

  .header {
    grid-area: h;
  }

  .main {
    grid-area: m;
  }

  .nav {
    grid-area: n;
  }

  .widget {
    grid-area: w;
  }

  .footer {
    grid-area: f;
    background-color: #ffcc5c;
  }

  .main p,
  .widget p {
    font-size: 18px;
  }

  .title {
    font-size: 24px;
  }

  .subtitel {
    font-size: 18px;
    padding-left: 100px;
  }

  .main h2,
  .widget h2,
  nav li {
    font-size: 24px;
  }

  .main h3,
  .widget h3 {
    font-size: 21px;
  }
  .logo {
    max-width: 6%;
    float: left;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-right: 15px;
    margin-bottom: 1%;
  }
}
