/* Stylesheet eindopdracht - Hackaton_HTML_CSS */
/* Tablet sytles met voorwaarden */
/* als 3e aangeroepen vanuit sytles.css  */

/** Styling Tablet **/

/** Grid Style Mobile **/

.container {
  min-height: 800px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: auto max-content max-content max-content max-content;
  grid-template-areas:
    "h h h h h h h"
    "n n n n n n n"
    "m m m m m m m"
    "w w w w w w w"
    "f f f f f f f";
}
.header {
  grid-area: h;
  background-color: white;
  padding: 0px 10px 0px 10px;
}

.main {
  grid-area: m;
  background-color: #ffcef1;
  padding: 0px 10px 0px 10px;
}

.nav {
  grid-area: n;
  background-color: #4f8bc9;
  font-weight: 600;
}

.widget {
  grid-area: w;
  background-color: #69b7ff;
  padding: 0px 10px 0px 10px;
  padding: 0% 5% 5% 5%;
}

.footer {
  grid-area: f;
  background-color: #ffcc5c;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

/** Styling Tablet **/

.logo {
  height: 100px;
  float: left;
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title {
  font-weight: 800;
  font-size: 5vmin;
  line-height: 2px;
  color: #4f8bc9;
  padding-top: 20px;
  margin-left: 8vmin;
}

.subtitel {
  font-family: "Caveat", cursive;
  font-size: 5vmin;
  line-height: 4vmin;
  margin-left: 8vmin;

  color: grey;
}

.widget h3 {
  color: white;
}

.widget .caption {
  font-size: 8pt;
  color: white;
}

.main p,
.widget p {
  font-size: 28px;
}

.main h2,
.widget h2 {
  font-size: 48px;
}

.main h3,
.widget h3,
nav li {
  font-size: 32px;
}

.movie {
  width: auto;
  height: auto;
  margin: 0%;
  padding: 0%;
}

/** Navigation Styling Tablet **/

.nav-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.nav-container > li {
  list-style-type: none;
  background-color: rgb(137, 183, 220);
  border-radius: 5px;
  padding: 5px 50px;
  margin: 5px auto 5px auto;
}

.nav-container li > .active-page {
  color: whitesmoke;
}

.nav-container > .active-page {
  background-color: teal;
}

.nav-container li a {
  text-decoration: none;
  color: rgba(32, 112, 178, 1);
}

.nav-container li a:hover {
  color: whitesmoke;
}

.nav-container > li:hover {
  background-color: rgba(32, 112, 178, 1);
}

.nav-container > li:active {
  background-color: rgba(32, 112, 178, 1);
}
